#navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #00416D;
  width: auto;
  height: 50px;
 
}

a{
  text-decoration: none;
  color: black
}
.nav-li {
  margin-top: 15px;
  text-align: justify;
  padding-right: 100px;
  color: #f5f1da !important;
  
}

#welcome_section {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
  padding: 20px;
  color: black
}

#welcome_section p {
   margin: 10px;
}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
#welcome_section h1 {
  text-align: center;
}
#contacts {
  display: block;
  color: black;
  background-color: #e3dfc88a;
  border-radius: 6px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  margin-right: 500px;
  margin-left: 200px;
}
#contacts h1 {
  text-align: left;
  text-decoration: underline;
  color: black;
}
.project-tile{
  /* padding-left: 60%; */
  color: #00416D;
}
#profile-link {
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  margin-right: 120px;
  margin-left: 60px;
  color: #f5f1da;
  margin-bottom: 40px;
  background-color: #00416D;
  box-shadow: -5px 5px 5px #00416D;
}
#profile-link h3 {
    padding-left: 40px;
}
.div-ul{
  list-style: none;
  display: flex;
  justify-content: center;
  
}
.div-li{
  text-align: justify;
  padding-right: 100px;
}
body{
  background-color: whitesmoke;
}
.link-dec{
  text-decoration: underline solid;
}
.lin{
  padding-left: 40px;
  padding-top: 0px;
}
@media (min-width: 1000px) and (min-height: 700px) {
  #navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #00416D;
    width: auto;
    height: 50px;
    color: #f5f1da;
    
  }
  .nav-li {
    margin-top: 15px;
    text-align: justify;
    padding-right: 100px;
  }
  a{
    text-decoration: none;
    color: #f5f1da;
  }
  #welcome_section {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    color: #e3dfc8;
  }
  .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  #welcome_section h1 {
    text-align: center;
  }
  #projects {
    display: block;
    background-color: #e3dfc88a;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    margin-right: 500px;
    margin-left: 200px;
  }
  #projects h1{
    text-align: left;
    text-decoration: underline;
    color: #00416D;
  }
  .project-tile{
    /* padding-left: 60%; */
    color: #00416D;
  }
  #profile-link {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    margin-right: 120px;
    margin-left: 60px;
    color: #f5f1da;
    margin-bottom: 40px;
    background-color: #00416D;
    box-shadow: -5px 5px 5px #00416D;
  }
  #profile-link h3 {
      padding-left: 40px;
  }
  .div-ul{
    list-style: none;
    display: flex;
    justify-content: center;
    
  }
  .div-li{
    text-align: justify;
    padding-right: 100px;
  }
  body{
    background-color: maroon;
  }
  .link-dec{
    text-decoration: underline solid;
  }
  .lin{
    padding-left: 40px;
    padding-top: 0px;
  }
}